@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="en">


<body>
   
        <header>
            <center>
           
                <nav>
                    <ul>
                        <li>
                            <a href="/Index">Home</a>
                        </li>
                        <li>
                            <a href="/AboutUs">About</a>
                        </li>
                        <li>
                            <a href="/ContactUs">Contact</a>
                        </li>
                        <li>
                            <a href="/MyWork">My Work</a>
                        </li>

                    </ul>
                </nav>
            
            </center>
        </header>



    <section id="home">
        <br />
        <br />
        <h2>
            <u> Khumalo_Crafts </u>
        </h2>
                <p>Creative & Artistic homemade Crafts </p>

                <br />

        <h3>
            An international e-commerce site called KhumaloCraft Emporium features handcrafted goods from craftspeople all around the world.
            Our goal is to present distinctive and superior craftsmanship to discriminating audiences.
        </h3>

        <br />
        <button class="my-button">
            <a href="/AboutUs">About Us Info</a>
        </button>

        <br />
        <br />
    </section>

    <h2>
         Khumalo_Crafts Work 
    </h2>
    <br />
   
    <center>
    <div class="image-container">
        <div class="craft-work">
            <img src="~/css/Picture3.jpg" alt="Project 1" style="width:500px;height:500px">
            
        </div>
        <div class="craft-work">
            <img src="~/css/Picture6.jpg" alt="Project 2" style="width:500px;height:500px">
        </div>
        <div class="craft-work">
            <img src="~/css/Picture 5.jpg" alt="Project 2" style="width:500px;height:500px">
            
        </div>
    </div>
    </center>

    <br />
    <br />

    <button class="my-button">
        <a href="/MyWork">More Crafts</a>
    </button>
    

        
    
</body>
</html>