@page
@model Khumalo_Crafts.Pages.MyWorkModel
@{
}

<html lang="en">


<body>
   
        <header>
            <center>
           
                <nav>
                    <ul>
                        <li>
                            <a href="/Index">Home</a>
                        </li>
                        <li>
                            <a href="/AboutUs">About</a>
                        </li>
                        <li>
                            <a href="/ContactUs">Contact</a>
                        </li>
                        <li>
                            <a href="/MyWork">My Work</a>
                        </li>

                    </ul>
                </nav>
            
            </center>
        </header>



    <section id="home">
        <br />
        <br />
        <h2>
            Khumalo_Crafts Work</h2>
             <br />
    </section>
    
    <center>
    <div class="image-container">
        <div class="craft-work">
            <img src="~/css/Picture4.jpg" alt="Project 1" style="width:500px;height:500px">
                <br />
                <br />

                <h4>Price: R150</h4>
        </div>
        <div class="craft-work">
            <img src="~/css/Picture2.jpg" alt="Project 2" style="width:500px;height:500px">

                <br />
                <br />

                <h4>Price: R90</h4>
        </div>
        <div class="craft-work">
            <img src="~/css/Picture7.jpg" alt="Project 2" style="width:500px;height:500px">

                <br />
                <br />

                <h4>Price: R120</h4>
        </div>
    </div>
    </center>

    <br />
    <br />

    <button class="my-button">
        <a href="#">Add Crafts</a>
    </button>
    

        
    
</body>
</html>